<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>youtubeddl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4728B83320F4787D0063812D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4728B84920F4787E0063812D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4728B85420F4787E0063812D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
